<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>港车</title>
		<link rel="Shortcut Icon" href="../../Content/img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="../../Content/css/content.css">
		<script src="../../Content/js/plugIn/jquery.js"></script>
		<script src="../../Content/js/content.js"></script>
	</head>
	<body>
		<div class="pc-body">
			<div class="pc-body-top">
				<!-- logo -->
				<a href="#" class="pc-top-Logo" onclick="BI()">
					PortCars
				</a>
				<!-- 顶部导航栏 -->
				<ul class="pc-top-menu">
					<li>
						<span class="pc-menu-Btn" url='contentLeft.html'>首页</span>
					</li>
					<li>
						<span class="pc-menu-Btn" url='contentLeft.html'>首页1</a>
					</li>
					<li>
						<span class="pc-menu-Btn" url='contentLeft.html'>首页2</span>
					</li>
				</ul>
			</div>
			<div class="pc-body-container">
				<div class="pc-container-left" id="leftMenu">
					<!-- 左边导航栏，容器 -->
				</div>
				<div class="pc-container-right">
					<!-- 右边页面容器 -->
					<div class="pc-right-top">
						<ul class="pc-top-nav">
							<li class="pc-nav-homePage" onclick="homePage()">首页</li>
						</ul>
					</div>
					<!-- 内容容器 -->
					<div class="pc-right-content" id="content">
						<!-- 欢迎页面 -->
						<div class="pc-welcome">
							<div style="padding-top:100px;">
								<img src="../../Content/img/portcars.jpg">
							</div>
							<h1>
								<p style="margin: 30px 0;">港车是一家</p>
								<p>以平行进口车、软件开发和汽车服务为核心的互联网公司</p>
							</h1>
							<div class="pc-welcome-bottom">
								<img src="../../Content/img/font.jpg">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
