<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<title>左边导航栏</title>
	</head>
	<body>
		<div class="pc-left-nav">
			<h3>一级菜单一</h3>
			<ul>
				<li>
				<span url='button.html'>按钮</span>
			    </li>
				<li>
				<span url='table.html'>表格</span>
			    </li>
			    <li>
				<span url='time.html'>时间</span>
			    </li>
			</ul>
			<h3>二级菜单一</h3>
			<ul>
				<li>
					<span url='404.html'>404页面</span>
				</li>
				<li>
					<span url='pageUrl.html'>跳转页面</span>
				</li>
			</ul>
	    </div>
		<div class="pc-left-nav">
			<h3>一级菜单二</h3>
			<ul>
				<li>
				<span url='form.html'>表单</span>
			    </li>
			    <li>
				<span url='tab.html'>选项卡</span>
			    </li>
			    <li>
				<span url='search.html'>搜索</span>
			    </li>
			</ul>
			<h3>二级菜单二</h3>
			<ul>
				<li>
					<span url='test.html'>测试</span>
				</li>
			</ul>
	    </div>
	    <div class="pc-left-nav">
	    	<h3>一级菜单三</h3>
			<ul>
				<li>
				<span url='other.html'>其他</span>
			    </li>
				<li>
				<span url='fileUpload.html'>文件上传</span>
			    </li>
			</ul>
			<h3>二级菜单三</h3>
			<ul>
				<li>
					<!-- <span url="../Login/index.html">登录页面</span> -->
				</li>
			</ul>
	    </div>
	</body>
</html>
<script type="text/javascript" src="../../Content/js/contentLeft.js"></script>.
