<!DOCTYPE HTML>
<html>
	<head>
		<meta chartset="utf-8">
		<title>时间</title>
		<link rel="stylesheet" type="text/css" href="../../Content/css/main.css">
	</head>
	<body>
		<div class="timeContainer pc-form">
			<span class="pc-title-first">时间</span>
			<div class="timeBody">
				<span class="pc-title-second">一、年月日时分秒星期</span>
				<div class="pc-time">
					<span class="pc-time-show"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">二、年月日时分秒</span>
				<div class="pc-time">
					<span class="pc-time-YMDHMSshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">三、年月日时分</span>
				<div class="pc-time">
					<span class="pc-time-YMDHMshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">四、年月日</span>
				<div class="pc-time">
					<span class="pc-time-YMDshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">五、时分秒</span>
				<div class="pc-time">
					<span class="pc-time-HMSshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">六、星期</span>
				<div class="pc-time">
					<span class="pc-time-Dayshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">七、年</span>
				<div class="pc-time">
					<span class="pc-time-Yshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">八、月</span>
				<div class="pc-time">
					<span class="pc-time-Mshow"></span>
				</div>
			</div>


			<div class="timeBody">
				<span class="pc-title-second">九、日</span>
				<div class="pc-time">
					<span class="pc-time-Dshow"></span>
				</div>
			</div>

		    <div class="timeBody">
				<span class="pc-title-second">十、时</span>
				<div class="pc-time">
					<span class="pc-time-Hshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">十一、分</span>
				<div class="pc-time">
					<span class="pc-time-Mmshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">十二、秒</span>
				<div class="pc-time">
					<span class="pc-time-Sshow"></span>
				</div>
			</div>

			<div class="timeBody">
				<span class="pc-title-second">十三、倒计时</span>
				<div class="pc-time">
					<span class="pc-time-countDownShow"></span>
				</div>
			</div>

			<div class="timeInfo">
				<span class="pc-title-second">时间详情</span>
				<table class="pc-table pc-table-auto pc-table-left">
					<thead>
						<tr>
							<th>时间类型</th>
							<th>class=''</th>
							<th>描述</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><span class="pc-time-show"></span></td>
							<td>pc-time-show</td>
							<td>年月日时分秒星期</td>
						</tr>
						<tr>
							<td><span class="pc-time-YMDHMSshow"></span></td>
							<td>pc-time-YMDHMSshow</td>
							<td>年月日时分秒</td>
						</tr>
						<tr>
							<td><span class="pc-time-YMDHMshow"></span></td>
							<td>pc-time-YMDHMshow</td>
							<td>年月日时分</td>
						</tr>
						<tr>
							<td><span class="pc-time-YMDshow"></span></td>
							<td>pc-time-YMDshow</td>
							<td>年月日</td>
						</tr>
						<tr>
							<td><span class="pc-time-HMSshow"></span></td>
							<td>pc-time-HMSshow</td>
							<td>时分秒</td>
						</tr>
						<tr>
							<td><span class="pc-time-Yshow"></span></td>
							<td>pc-time-Yshow</td>
							<td>年</td>
						</tr>
						<tr>
							<td><span class="pc-time-Mshow"></span></td>
							<td>pc-time-Mshow</td>
							<td>月</td>
						</tr>
						<tr>
							<td><span class="pc-time-Dshow"></span></td>
							<td>pc-time-Dshow</td>
							<td>日</td>
						</tr>
						<tr>
							<td><span class="pc-time-Hshow"></span></td>
							<td>pc-time-Hshow</td>
							<td>时</td>
						</tr>
						<tr>
							<td><span class="pc-time-Mmshow"></span></td>
							<td>pc-time-Mnshow</td>
							<td>分</td>
						</tr>
						<tr>
							<td><span class="pc-time-Sshow"></span></td>
							<td>pc-time-Sshow</td>
							<td>秒</td>
						</tr>
						<tr>
							<td><span class="pc-time-countDownShow"></span></td>
							<td>pc-time-countDownShow</td>
							<td>倒计时，距离2019年1月1日08:00:00,还有多长时间</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</body>
</html>
<script type="text/javascript" src="../../Content/js/plugIn/jquery.js"></script>
<script type="text/javascript" src="../../Content/js/portCars.js"></script>
